* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body {
    background-color: rgb(234, 245, 255);
  }

.thumb{
    background-color: white;
    width: 400px;
    height: 400px;
    margin: 100px auto;
}
.box {
    width: 100px;
    height: 100px;
    background-color: white;
    animation: move 4s linear infinite;
    
}

@keyframes move{
    0% {
        background-color: red;
        transform: translate(0 , 0);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 28px;
    }
    25% {
         background-color: blue;
         transform: translate( 0 ,  300px);
         box-shadow: rgba(38, 57, 77) 0px 20px 32px -10px;
    }
    50% {
        background-color: green;
        transform: translate( 300px , 300px );
        box-shadow: rgba(0, 0, 0, 0.016) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.26) 0px 0px 0px 1px;
    }
    75% {
         background-color: yellow;
         transform: translate( 300px , 0);
         box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 33px,
         rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
    100% {
        background-color: red;
        transform: translate(0 , 0);
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 28px;
    }
}